<%# app/views/students/_list.html.erb %>

<div class='col-xs-12 col-s-12 col-md-8 col-md-offset-2' align='center'>

	<div class="list-group row">

		<% posts.each do |post| %>

			<a href="<%= post_path(post) %>" class="list-group-item <%= post.category.partition(" ").first %>">
				<h6 class="list-group-item-heading"> <%= post.title %></h6>
				<p class="list-group-item-text"><%= post.category %> posting created <%= time_ago_in_words(post.created_at)%> ago</p>
			</a>
		<%end%>


	</div>
</div>
<div class='col-xs-12 col-s-12 col-md-8 col-md-offset-2' align='center'>
	<div class='row' id="paginator">
		<%= paginate @posts, :remote => true %>
	</div>
</div>

