<p id="notice"><%= notice %></p>





<div class='well'>
  <h4><strong>
  <%= @post.title %></strong>
  </h4>
</div>

<p>
  <strong></strong>
  <%= @post.contact %>
</p>

<p>
  <strong></strong>
  <%= @post.content %>
</p>





<p>
  <strong>Category:</strong>
  <%= @post.category %>
</p>
<%= link_to 'Back', posts_path %>
