<p id="notice"><%= notice %></p>
<div class="container">
<div class='col-md-8 col-md-offset-2'>

  <h3><strong>
  <%= @post.title %></strong>
  </h3>



<p>
  <strong>Contact Info:</strong>
  <%= @post.contact %>
</p>
<hr>
<p>
  <strong></strong>
  <%= @post.content.html_safe %>
</p>



<% unless @post.postpic_url.nil? %>
<hr><h4>Attached Image</h4>
<%= image_tag @post.postpic_url(:standard) %><br /><% end %>
<br>
<b>Share This Ad</b>
<%= social_share_button_tag(@post.title) %>
<p>
  <strong>Category:</strong>
  <%= @post.category %>
</p>
<div align="center">
<%= link_to 'Back', posts_path, class: "btn btn-block btn-default" %>
</div>
</div>