<p id="notice"><%= notice %></p>





<div class='well'>
  <h4><strong>
  <%= @post.title %></strong>
  </h4>
</div>

<p>
  <strong>Contact Info:</strong>
  <%= @post.contact %>
</p>
<hr>
<p>
  <strong></strong>
  <%= @post.content %>
</p>



<% unless @post.postpic_url.nil? %>
<hr><h4>Attached Image</h4>
<%= image_tag @post.postpic_url(:standard) %><br /><% end %>
<br>
<p>
  <strong>Category:</strong>
  <%= @post.category %>
</p>
<%= link_to 'Back', posts_path %>
