<!DOCTYPE html>
<html>
<head>
  <title>Mate Na Lavo - Free Classifieds For Fiji</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="description" content="Fiji's biggest free classifieds website. Whether you're in Suva, Nadi, Lautoka or Savusavu, we help you find a new car, a job, or a new house today! ">
  <%= csrf_meta_tags %>
  <meta name="keywords" content="Fiji, Viti Levu, Vanua Levu, free, classifieds, vacancy, for sale, jobs, houses, land, cars, autos" />
</head>

<body>

<div id="top-nav">


    <nav role="navigation" class="navbar navbar-default">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="logo-holder"><a href="/" class="navbar-brand"><%= image_tag 'matelogo.png',size:"170x70"%></a></div>
        	</div>
        <!-- Collection of nav links and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/news">News</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <%= link_to new_post_path, class: "btn btn-post btn-lg"  do %>
<div class="glyphicon glyphicon-plus"> Post an Ad </div>
<%end%>


        
      </ul>
        </div>

    </nav>
</div>
<div class="container">

<%= yield %>
</div>
</body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-66625922-1', 'auto');
  ga('send', 'pageview');

</script>
<footer><p align='center'>Made in Fiji</p></footer>
</html>
